.App {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.App__container {
  position: relative;
}

.App__controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: calc(1rem + 0.5vw);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.App__controls .btn {
  font-size: calc(1.5rem + 0.5vw);
}

.App__controls.active .controls div:nth-child(1) {
  -webkit-animation: move-1 300ms ease-in-out;
          animation: move-1 300ms ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.App__controls.active .controls div:nth-child(2) {
  -webkit-animation: move-2 300ms ease-in-out;
          animation: move-2 300ms ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.App.paused {
  background-color: #73877b;
  color: #f5e4d7;
}

.App.paused path {
  fill: #f5e4d7;
}

.App.in-break {
  background-color: #a6bb6b;
  color: #eaf1c5;
}

.App.in-break path {
  fill: #eaf1c5;
}

.App.in-session {
  background-color: #2f4550;
  color: #b8dbd9;
}

.App.in-session path {
  fill: #b8dbd9;
}

.controls {
  text-align: left;
}

.controls__length {
  font-size: calc(2.5rem + 0.5vw);
  padding-right: 0.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.controls__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: calc(5rem + 0.5vw);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls__buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.controls div:nth-child(1) {
  -webkit-animation: inv-move-1 300ms ease-in-out;
          animation: inv-move-1 300ms ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.controls div:nth-child(2) {
  -webkit-animation: inv-move-2 300ms ease-in-out;
          animation: inv-move-2 300ms ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.controls + .controls {
  margin-left: 2em;
}

@-webkit-keyframes move-1 {
  from {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes move-1 {
  from {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes move-2 {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes move-2 {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes inv-move-1 {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    opacity: 0;
  }
}

@keyframes inv-move-1 {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    opacity: 0;
  }
}

@-webkit-keyframes inv-move-2 {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes inv-move-2 {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
/*# sourceMappingURL=App.css.map */