@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*, *:after, *:before{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  font-family: 'Space Mono', monospace,sans-serif;
  color: white;
}


ol{
  padding: 0;
}

button {
  &:focus{
  outline: none;
  }
  color: white;
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

/* disable scrolling */
html, body {margin: 0; height: 100%; overflow: hidden}
::-webkit-scrollbar {
  display: none;
}


a{
  text-decoration: none;

  &:visited{
  color:inherit;
  }
  
  &:hover{
  font-weight: 500;
  }
}
